$lateral-container-width-lg: 250px;
$lateral-container-width-sm: 100%;
$lateral-container-height-lg: 180px;
$lateral-container-height-sm: 100vh;

$lateral-container-buttons-height: 80px;

$screenContent-width-lg: calc(100% - #{$lateral-container-width-lg});
$screenContent-height-sm: calc(
  100vh - #{$lateral-container-height-lg} - #{$lateral-container-buttons-height}
);
$screenContent-height-lg: 100vh;

.lateralContainer {
  position: fixed;
  z-index: 1;
  height: $lateral-container-height-lg;
  width: $lateral-container-width-sm;

  background: #2978a0;

  @media (min-width: 900px) {
    height: $lateral-container-height-sm;
    width: $lateral-container-width-lg;
  }
}

.lateralContainer__Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;

  img {
    height: 100px;
    width: 100px;
  }

  p {
    color: #fff;
    margin-top: 20px;
  }

  @media (min-width: 900px) {
    margin-top: 130px;
  }
}

.lateralContainerButtons {
  position: fixed;
  z-index: 1;
  bottom: 20px;
  width: $lateral-container-width-sm;
  display: flex;
  justify-content: center;

  @media (min-width: 900px) {
    width: $lateral-container-width-lg;
  }
}

.exitButton {
  background: #e94f37;
  border-radius: 0.5rem;
  bottom: -10rem;
  color: #fff;
  height: 40px;
  transition: filter 0.2s;
  width: 150px;

  &:hover {
    filter: brightness(0.8);
  }

  @media (max-width: 900px) {
    bottom: 2%;
  }
}

.screenContent {
  position: absolute;
  top: $lateral-container-height-lg;
  width: 100%;
  height: $screenContent-height-sm;
  overflow: auto;

  @media (min-width: 900px) {
    top: 0;
    right: 0;
    width: $screenContent-width-lg;
    height: $screenContent-height-lg;
  }
}
