.text-field__label {
  display: block;
  margin-bottom: 5px;
  font-size: 24px;
}

.input {
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border: solid 1px #393e41;
  border-radius: 10px;
  margin-bottom: 30px;
  font-size: 16px;
  input:focus {
    border-radius: 10px;
  }
}

@media (max-width: 460px) {
  .text-field__label-sm {
    font-size: 18px;
  }

  .input {
    margin-bottom: 20px;
  }
}
