.searchbar {
  position: relative;
  display: flex;
  justify-content: center;

  .SearchIcon {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 15px;
    font-size: 30px;
    color: rgba(57, 62, 65, 0.6);
    z-index: 1;
  }

  .AutocompletePlace-input {
    width: 100%;
    height: 60px;
    outline: none;
    background: #ffffff;
    mix-blend-mode: normal;
    border: 2px solid rgba(57, 62, 65, 0.6);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 15px;
    font-size: 18px;
  }
}
