.login-box {
  width: 400px;
  height: 550px;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.logo-area {
  width: 400px;
  height: 150px;
  background-color: #2978a0;
  border-radius: 15px 15px 0px 0px;
}

.login-form-top-text {
  font-size: 36px;
  text-align: center;
}

.login-form-content {
  padding: 0 75px 0 75px;
}

@media (max-width: 460px) {
  .login-box-sm {
    width: 100%;
    height: 100%;

    .logo-area {
      width: 100%;
    }

    .login-form-top-text {
      font-size: 30px;
    }

    .login-form-content {
      padding: 0 10% 0 10%;
    }
  }
}
