.cardsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 900px) {
    min-height: 100vh;
  }
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
