.login-form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  display: flex;
  justify-content: center;
}

.login-form button {
  display: block;
  position: relative;
  right: 0;
  margin-left: auto;
}

@media (max-width: 460px) {
  .login-form-sm {
    width: 85%;

    button {
      margin-bottom: 20px;
    }
  }
}
