.screenContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 900px) {
    align-items: flex-start;
    height: 50vh;
  }
}
.searchContainer {
  width: 80%;
  margin: 40px 0;
}

.searchResults {
  max-height: 80vh;
  overflow: auto;
  ul {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #ffffff;

    li {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      padding: 15px;
      border-bottom: solid 2px #d6d6d683;
      align-items: center;

      .Selection {
        position: absolute;
        font-size: 14px;
        color: #0f0f0f9d;
        left: -8%;
      }
    }
    @media (max-width: 900px) {
      max-height: 50vh;
    }
  }
}

.searchResult__patientName {
  width: 100%;
  margin: 0;
}

.searchResult__patientCPF {
  width: 100%;
  margin-bottom: 0;
  color: #4d4d4d;
}
